<div class="w-full mx-auto bg-white px-6 py-2 rounded-lg shadow-md shadow-md">
    <div class="grid gap-x-8 gap-y-1 grid-cols-1 sm:grid-cols-4 md:grid-cols-6">
        <div class="sm:col-span-1 col-start-1 sm:col-start-1">
            <div class="flex mt-2">
                <input type="text" id="idFilter"  [(ngModel)]="idFilter" placeholder="Nro Noticia"
                    class="mt-2 w-full p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
            </div>
        </div>
        <div class="sm:col-span-3 col-start-1 sm:col-start-2">
            <!-- <label for="dateFilter" class="block text-gray-700">Filtro por Rango de Fechas</label> -->
            <div class="flex mt-2">
                <!-- Primer calendario -->
                <input
                  type="date"
                  id="startDate"
                  [(ngModel)]="startDate"
                  (change)="onStartDateChange()"
                  class="w-1/2 mt-2 p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
                />
              
                <!-- Segundo calendario -->
                <input
                  type="date"
                  id="endDate"
                  [(ngModel)]="endDate"
                  [min]="startDate" 
                  [disabled]="!startDate" 
                  class="w-1/2 mt-2 p-2 ml-1 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
                />
              </div>
              
        </div>
        <div class="sm:col-span-4 col-start-1 sm:col-start-3 md:col-start-5 text-end">
            <div class="flex mt-2 justify-end sm:justify-end md:justify-between lg:mr-20">

                <div class="mt-1">
                    <button (click)="applySecondFilter()" class="w-12 text-white btn btn-primary">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
                <div class="mt-1 ml-4 ">
                    <button (click)="onTogglePost()" class="w-50 text-white btn btn-primary">
                        Nueva Noticia
                    </button>
                </div>
                <div class="mt-1 ml-4 ">
                    <button (click)="loadTempFilter()" class="w-50 text-white btn btn-primary">
                        Mis Mensajes
                    </button>
                </div>
                <div class="mt-1">
                    <div class="drawer drawer-end">
                        <input id="my-drawer-4" type="checkbox" class="drawer-toggle" />
                        <div class="drawer-content">
                            <label for="my-drawer-4" class="w-110 text-white ml-4 btn btn-primary text-sm">
                                <i class="fa-regular fa-address-book"></i>
                            </label>
                        </div>
                        <div class="drawer-side fixed inset-0 z-50">
                            <label for="my-drawer-4" aria-label="close sidebar" class="drawer-overlay"></label>
                            <div class="menu bg-base-200 rounded-l-lg h-screen w-80 p-4">
                                <div
                                    class=" rounded-xl border max-h-full bg-white py-4 px-4 shadow-md overflow-y-scroll">
                                    <div class=" px-2 text-base font-medium text-gray-700 sm:col-span-2 sm:col-start-1">
                                        <label for="idFilter" class="text-gray-700">Personal</label>
                                        <br>
                                        <input type="text" id="idFilter" placeholder="Ingresa Nombre"
                                            class="mt-2 w-full p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
                                    </div>
                                    <div class="mt-4">
                                        <div class="flex w-full flex-col">

                                            <button *ngFor="let item of contactos"
                                                class="group flex items-center gap-x-5 rounded-md px-2.5 py-2 transition-all duration-75 hover:bg-green-100">
                                                <img src="https://www.w3schools.com/w3images/avatar2.png" alt="Avatar"
                                                    class="w-12 h-12 rounded-full">
                                                <div class="flex-1 text-left">
                                                    <p class="font-semibold text-lg">{{ item.nombreCompleto }}</p>
                                                    <p class="text-sm text-gray-500">{{ item.correo }}</p>
                                                    <p class="text-sm text-gray-600">{{ item.cargo }}</p>
                                                    <p class="text-sm text-gray-600">{{ item.telefono }}</p>
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>